body{    
    max-width: 720px;
    background: antiquewhite;
    margin: 0 auto;
}

#video {
border: 1px solid #999;
width: 98%;
max-width: 860px;
}

.error {
color: red;
}

.warn {
color: orange;
}

.info {
color: darkgreen;
}

#resultLink{
    display: none;
}