html,
body{
    height:100%;margin:0;padding:0
}

html {
  scroll-behavior: smooth;
}

body{
    font-size:16px;
	line-height:1.62857143;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
   
    max-width: 720px;
    background: antiquewhite;
    margin: 0 auto;
}

#video {
border: 1px solid #999;
width: 98%;
max-width: 860px;
}

.error {
color: red;
}

.warn {
color: orange;
}

.info {
color: darkgreen;
}

#resultLink{
    display: none;
}

button, .button{
    display: inline-block;
    padding: .5rem 2rem;
    background: #6ac2b6;
    color: #333;
    border: 2px solid;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    font-size:16px;
	line-height:1.62857143;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
   
}