:root{
    --button-color:#6ac2b6;
    --button-color-hover:#009688;
    --button-color-active:#b1063f;
    --text-color:#333;
}

/* START:: General */
    html{
        display: table;
    }
    html,
    body{
        height:100%;
        width:100%;
        margin:0;
        padding:0
    }

    body{
        font-size:16px;
        font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        background: antiquewhite;
        display: table-cell;
        position: relative;
    }

    #wrapper{
        margin: 0 auto;
        max-width: 720px;
    }

    .center{
        text-align: center;
    }

    h1{
        font-size: 3rem;
    }

    footer{
        border-top:2px solid var(--button-color);
        margin:2rem 0;
    }

    header, article, footer {
        padding: 0 2rem;
    }

    #errorMsg{
        display: block;
        padding: .5rem 2rem;
        background: var(--button-color-active);
        color: #fff;
        border-radius: .25rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
    }

    a,
    a:visited,
    a:hover,
    a:active{
        color: var(--text-color);
        text-decoration-skip-ink: auto;
        text-decoration: underline;
    }

    a,
    a:visited{
        text-decoration: underline var(--button-color);
    }

    a:hover{
        text-decoration: underline var(--button-color-hover);
    }

    a:active{
        text-decoration: underline var(--button-color-active);
    }
/* END:: General */

/* START:: Video Elements */
    video {
        border: 2px solid;
        border-radius: .25rem;
        width: calc(100% - 4px);
        max-width: 720px;
    }
/* END:: Video Elements */

/* START:: Chunks */
    #videoChunks{
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    #videoChunksHeading{
        margin-top:4rem;
    }

    #videoChunksHeading,
    #resultLinkWebM,
    #resultLinkGIF,
    #errorMsg,
    #videoCam{
        display: none;
    }
/* END:: Chunks */

/* START:: Single Chunk */
    .chunk{
        display: inline-block;
        margin:0 2rem 2rem 0;
    }

    .chunk video{
        width:calc(100% - 4px);
        min-width: 240px;
        display: block;
    }

    .chunk .button{
        width:calc(100% - 4px - 4rem);
        margin-top:1rem;
    }
/* END:: Single Chunk */

/* START:: Buttons */
    .buttons{
        display: grid;
        grid-gap: 1rem;
    }

    button, .button{
        display: inline-block;
        padding: .5rem 2rem;
        background: var(--button-color);
        color: var(--text-color);
        border: 2px solid;
        border-radius: .25rem;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-weight: 900;
        font-size:16px;
        cursor: pointer;
        font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    }

    button:hover, .button:hover{
        background: var(--button-color-hover);
    }

    button:active, .button:active{
        color:#fff;
        background: var(--button-color-active);
    }
/* END:: Buttons */

/* START:: Scrollbar */
    ::-webkit-scrollbar {
        height: 1rem;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--button-color);
        border-radius: .25rem;
        border: 2px solid var(--text-color);
    }

    ::-webkit-scrollbar-thumb:hover{
        background-color: var(--button-color-hover);
    }

    ::-webkit-scrollbar-thumb:active{
        background-color: var(--button-color-active);
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
        border: 2px solid var(--text-color);
        border-radius: .25rem;
    }
/* END:: Scrollbar */

/* START:: Loading Spinner and Loading Animation */
    #loader::before {
        position: absolute;
        content:"";
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 6rem;
        height: 6rem;
        margin: -3rem 0 0 -3rem;
        border: 16px solid var(--text-color);
        border-radius: 50%;
        border-top: 16px solid var(--button-color);
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    #loader{
        background: hsla(0, 0%, 0%,.2);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
/* END:: Loading Spinner and Loading Animation */

/* START:: Range Input */
label{
    font-weight: 900;
    margin-top: 1rem;
}

input[type="range"]{
    -webkit-appearance:none;
    border-radius: .25rem;
    border: 2px solid var(--text-color);
    margin:0;
    background: transparent;
    outline:0;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: var(--button-color);
    height:2rem;
    width:2rem;
    border-radius: .25rem;
    border: 2px solid var(--text-color);
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover{
    background-color: var(--button-color-hover);
}
input[type=range]::-webkit-slider-thumb:active{
    background-color: var(--button-color-active);
}

input[type=range]::-moz-range-thumb{
    -webkit-appearance: none;
    background-color: var(--button-color);
    height:2rem;
    width:2rem;
    border-radius: .25rem;
    border: 2px solid var(--text-color);
    cursor: pointer;
}

input[type=range]::-moz-range-thumb:hover{
    background-color: var(--button-color-hover);
}
input[type=range]::-moz-range-thumb:active{
    background-color: var(--button-color-active);
}

input[type=range]::-ms-thumb{
    -webkit-appearance: none;
    background-color: var(--button-color);
    height:2rem;
    width:2rem;
    border-radius: .25rem;
    border: 2px solid var(--text-color);
    cursor: pointer;
}

input[type=range]::-ms-thumb:hover{
    background-color: var(--button-color-hover);
}
input[type=range]::-ms-thumb:active{
    background-color: var(--button-color-active);
}

datalist{
    display: flex;
    justify-content: space-between;
    height: auto;
    overflow: hidden;
    margin-top: -1rem;
    margin-bottom:1rem;
}

datalist > option {
    width: 4ex;
    display: flex;
    justify-content: center;
    align-items: end;
}
/* END:: Range Input */

/* START:: Check Box for User Video and Audio */
.checkbox{
    display: flex;
    align-items: center;
}

.checkbox label{
    margin-top: 0;
    cursor: pointer;
}

input[type="checkbox"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    border-radius: .25rem;
    border: 2px solid var(--text-color);
    outline: 0;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    cursor: pointer;
    background-color: transparent;
}

input[type="checkbox"]:checked{
    background-color: var(--button-color-active);
}
/* END:: Check Box for User Video and Audio */

/* START:: GitHub Corner */
.github-corner:hover .octo-arm{
    animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave{
    0%,100% { transform:rotate(0) }
    20%,60% { transform:rotate(-25deg) }
    40%,80% { transform:rotate(10deg) }
}

@media (max-width:500px){
    .github-corner:hover .octo-arm{
        animation:none
    }
    
    .github-corner .octo-arm{
        animation:octocat-wave 560ms ease-in-out
    }
}
/* END:: GitHub Corner */