html,
body{
    height:100%;margin:0;padding:0
}

body{
    font-size:16px;
	line-height:1.62857143;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
   
    max-width: 720px;
    background: antiquewhite;
    margin: 0 auto;
    height: calc(100vh - 4rem);
}

video {
    border: 2px solid;
    border-radius: .25rem;
width: calc(100% - 4px);
max-width: 720px;
}

.chunk{
    display: inline-block;
    margin:2rem 2rem 2rem 0;
}

.chunk video{
    border: 2px solid;
    border-radius: .25rem;
    width:calc(100% - 4px);
    min-width: 160px;
    display: block;
}

.chunk .button{
    margin-top:1rem;
    width:12rem;
}

#videoChunks{
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

#videoChunksHeading,
#resultLinkMP4,
#resultLinkWEBM{
    display: none;
}

h1{
    font-size: 4rem;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr) );
    grid-gap: 1rem;
}

button{
    grid-column: 1 / 3;
}

button, .button{
    display: inline-block;
    padding: .5rem 2rem;
    background: #6ac2b6;
    color: #333;
    border: 2px solid;
    border-radius: .25rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    font-size:16px;
    line-height:1.62857143;
    cursor: pointer;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
   
}

/* Scrollbar Start */
::-webkit-scrollbar {
    height: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #6ac2b6;
    border-radius: .25rem;
    border: 2px solid #333;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border: 2px solid #333;
    border-radius: .25rem;
}
  /* Scrollbar End */

footer{
    margin:2rem 0;
}