<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ page.description }}">
        <meta name="keywords" content="Screenrecorder, Online, Recorder, WebM, Gif, Video, One Second Video, Video Chunks">
        
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">

        <meta name="twitter:card" content="summary_large_image">	
		<meta name="twitter:creator" content="@andreas_zettl">	
		<meta name="twitter:site" content="@andreas_zettl">	
		<meta name="twitter:title" content="{{ page.title }}">	
		<meta name="twitter:url" content="https://www.screenrecorder.online/">	
		<meta name="twitter:description" content="{{ page.description }}">	
        <meta name="twitter:image" content="https://www.screenrecorder.online/assets/img/twitter.card.png">
        
		<meta property="og:title" content="{{ page.title }}">	
		<meta property="og:description" content="{{ page.description }}">	
        <meta property="og:image" content="https://www.screenrecorder.online/assets/img/twitter.card.png">
        <meta property="og:url" content="https://www.screenrecorder.online/">
        <meta property="og:type" content="website">
        
        <meta name="monetization" content="$ilp.uphold.com/p9z8H6ZWRMmB">

        <title>{{ page.title }}</title>
    </head>
    <body>
        <div id="loader"></div>
        <div id="wrapper">
            <header>
                <h1>&#128249; Online Screen Recorder</h1>
            </header>
            <p class="extensions">
                <a id="getforedge" href="https://microsoftedge.microsoft.com/addons/detail/online-screen-recorder/ielppikdmenndhighecoedpmbikjgiei" target="_blank" rel="noopener">
                    &#127873; Get the same Recorder as Extension for your Microsoft Edge Browser
                </a>
                <a id="getforchrome" href="" target="_blank" rel="noopener">
                    <!--img src="/assets/img/ChromeWebStore_BadgeWBorder_v2_340x96.png" alt="Get the same Recorder as Extension for your Chrome Browser" /-->
                </a>
            </p>
            <article role="main">
                {{ content }}
    
                <p class="buttons">
                    <button id="button">
                        <i class="fa fa-play-circle" aria-hidden="true"></i> Start Capture
                    </button>
                    <span id="errorMsg"></span>
                    <span class="checkbox">
                        <input type="checkbox" id="addUserAudio">
                        <label for="addUserAudio">
                            Add Microphone Recording
                        </label>
                    </span>
                    <span class="checkbox">
                        <input type="checkbox" id="addUserVideo">
                        <label for="addUserVideo">
                            Add Webcam Recording
                        </label>
                    </span>
                    <span class="checkbox" id="subtitlesCheckbox">
                        <input type="checkbox" id="addSubtitles">
                        <label for="addSubtitles">
                            Add auto-created Subtitles
                        </label>
                    </span>
                    <label for="singleChunkLengthInSec">Single Chunk Length in Seconds</label>
                    <input type="range" id="singleChunkLengthInSec" value="5" min="1" max="15" list="tickmarks">
                    <datalist id="tickmarks">
                        <option value="1" label="1"></option>
                        <option value="2" label="2"></option>
                        <option value="3" label="3"></option>
                        <option value="4" label="4"></option>
                        <option value="5" label="5"></option>
                        <option value="6" label="6"></option>
                        <option value="7" label="7"></option>
                        <option value="8" label="8"></option>
                        <option value="9" label="9"></option>
                        <option value="10" label="10"></option>
                        <option value="11" label="11"></option>
                        <option value="12" label="12"></option>
                        <option value="13" label="13"></option>
                        <option value="14" label="14"></option>
                        <option value="15" label="15"></option>
                    </datalist>
                    <a id="resultLinkWebM" class="button" download="screenrecording.webm">
                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Download WebM
                    </a>
                    <a id="resultLinkGIF" class="button downloadgif" data-videoelement="video" onclick="downloadGIF(this.dataset.videoelement, 'screenrecording.gif')">
                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Download GIF
                    </a>
                </p>
    
                <video id="video" controlsList="nodownload" muted playsinline autoplay controls src="/assets/sample.mp4"></video>
                <video id="videoCam" controlsList="nodownload" muted playsinline autoplay controls src="/assets/sample.mp4"></video>
    
                <h2 id="videoChunksHeading">&#127916; Five Second Chunks</h2>
                <div id="videoChunks"></div>

                <h2>About <a href="#">www.screenrecorder.online</a></h2>
                <p>
                    This website provides you with a free, fast, and straightforward way to record your screen. 
                    All you need is a modern web browser like <a href="https://www.google.com/chrome/" target="_blank" rel="noopener">Chrome</a>, 
                    <a href="https://www.microsoft.com/de-de/edge" target="_blank" rel="noopener">Edge</a>, or <a href="https://brave.com/scr532" target="_blank" rel="noopener">Brave</a> 
                    to start recording! No other software required!
                </p>
                <p>
                    Before you start capturing your screen, you can decide on the chunk size. 
                    Additionally, to the full recording, you will get single videos with the chosen chunk size. 
                </p>
                <h3>Recording</h3>
                <p>
                    Once you click on <b>"START CAPTURE"</b> a dialog will open, which lets you choose what you want to record. 
                    The choices are the entire screen, an application window, or a browser tab. 
                </p>
                <h3>Download</h3>
                <p>
                    Once you are have finished, you can download the complete recording or any chunk as 
                    <abbr title="WebM is an audiovisual media file format">WebM</abbr> or 
                    <abbr title="Graphics Interchange Format">GIF</abbr> file. 
                    The WebM version is instantly available. The GIF needs some rendering time, depending on the length of the record.
                </p>
                <p>
                    If you have trouble playing the WebM file try the 
                    <a href="https://www.videolan.org/vlc/" target="_blank" rel="noopener">free multimedia player VLC</a>. 
                    Many other websites like <a href="https://www.youtube.com/" target="_blank" rel="noopener">YouTube</a> 
                    support direct upload of WebM files.
                </p>
                <h3>Share</h3>
                <p>
                    To share your recording, you will need to download it as this website is not storing any data. 
                    If you like my screen recording tool, share it with your friends on 
                    <i class="fa fa-twitter-square" aria-hidden="true"></i> 
                    <a target="_blank" rel="noreferrer noopener" href="https://twitter.com/share?url=https://www.screenrecorder.online/&amp;text={{ page.title }}">Twitter</a> 
                    or <i class="fa fa-facebook-square" aria-hidden="true"></i> 
                    <a target="_blank" rel="noreferrer noopener" href="https://www.facebook.com/dialog/share?app_id=390128455121154&amp;display=popup&amp;href=https://www.screenrecorder.online/&amp;redirect_uri=https://www.facebook.com/">Facebook</a>.
                </p>
                <p class="center">
                    <a href="https://www.producthunt.com/posts/screenrecorder?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-screenrecorder" target="_blank" rel="noopener"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=206426&theme=dark" alt="Screenrecorder - WEBM and GIF! Screen Recording! | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
                </p>
            </article>
            <footer role="contentinfo">
                <p>
                Made with 💘, 🍺 and 🍫 by <a href="https://azettl.net" target="_blank" rel="noopener">Andreas Zettl</a> · <a href="mailto:info@azettl.net" title="Any questions? Write me an e-mail.">info@azettl.net</a>
                </p>
                <p>
                    <i>I use <a href="https://usefathom.com/ref/QRMVHO" rel="noopener" target="_blank">Fathom Analytics</a> 
                        for the stats of this website, for details check their 
                        <a href="https://usefathom.com/data" rel="noopener" target="_blank">data policy</a>.
                        <br />
                        If you are interested in the statistics of this page, you can see them 
                        <a href="https://app.usefathom.com/share/kwjdzqgy/screenrecorder.online" rel="noopener" target="_blank">here</a>.
                    </i>
                </p>
            </footer>
        </div>
        <a href="https://github.com/azettl/screenrecorder" rel="noopener" class="github-corner" aria-label="View source on GitHub">
            <svg width="80" height="80" viewBox="0 0 250 250" style="fill:#333; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
                <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
                <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
                <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
            </svg>
        </a>
        <script src="/assets/js/gif.js"></script>
        <script src="/assets/js/gif.worker.js"></script>
        <script src="/assets/js/gif.converter.js"></script>
        <script src="/assets/js/video-stream-merger.js"></script>
        <script src="/assets/js/recorder.js"></script>
        <!-- Fathom - beautiful, simple website analytics -->
            <script src="https://porpoise.azettl.net/script.js" site="KWJDZQGY" defer></script>
        <!-- / Fathom -->
    </body>
</html>